html, body{
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    min-height: 100% !important;
    background: url("assets/bg.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
    box-shadow: inset 0 0 0 2000px rgba(153, 20, 40, 0.35) !important;
    overscroll-behavior-y: none;
}

.form-control, .mt-n3, .form-control:hover, .mt-n3:hover, .form-control:focus {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

table tr {
    border: rgba(0,0,0,0.74);
    border-radius: 6px;
    color: antiquewhite;
}

div.left {
    float: left;
    width: 20%;
    padding: 25px;
}

select {
    border-radius: 6px;
    padding: 2px;
    margin-bottom: 24px;
    width: 120%;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.3);
}

option {
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-link {
    color: antiquewhite;
    border: none;
    padding: 12px;
    margin: 2px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.4);
}

/* More specific selector */
ul.nav.nav-pills .nav-link.active {
    color: antiquewhite;
    border: none;
    padding: 12px;
    margin: 2px;
    box-shadow: none;
    background-color: rgba(110, 0, 0, 0.8)
}

label {
    margin: 0;
    color: antiquewhite;
}

div.right {
    float: right;
    width: 75%;
    padding: 25px;
}

.overlay {
    display: none;
}

.image:hover + div.overlay {
    display: block;
}

div.overlay {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    color: #eeeeee;
    padding: 4px;
    border-radius: 6px;
    background-color: black;
}